@import "base";
@import "dialog";
html{
  height: 100%;
}
body{
  height: 100%;
  background-color: #0e164b;
  @include transform(translate3d(0, 0, 0));
}
@mixin animateDelay($sec){
  animation-delay: $sec;
  -webkit-animation-delay: $sec;
}
$_page1_duration: 1s;
$_page2_duration: 0.8s;
.container{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(https://10kfiles.runninglemon.com/10k/statics_10k/cdn/images/h5_city_medal/bg-0.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  @include transition(all 1s);
  .page{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
  }
  .wrapper{
    position: absolute;
    width: 375px;
    height: 600px;
    @include transform(translateX(-50%) scale(1));
    transform-origin: center;
    -webkit-transform-origin: center;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    //padding: 40px 0;
    box-sizing: border-box;
  }
  .bottom-btn-box{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2.8rem;
    background-color: #4ee5ad;
    background-image: url(https://10kfiles.runninglemon.com/10k/statics_10k/cdn/images/h5_city_medal/btn-bg.jpg);
    background-repeat: no-repeat;
    background-position:  left bottom;
    background-size: auto 100%;
    text-align: center;
    line-height: 2.5rem;
    z-index: 99;
    padding-bottom: 0.2rem;
    span{
      display: inline-block;
    }
    img{
      height: 0.95rem;
      vertical-align: middle;
    }
    .btn-rule{
      img{
        height: 1rem;
      }
    }
    .btn-2{
      height: 2.8rem;
      background-color: #fe9e76;
      background-image: url('https://10kfiles.runninglemon.com/10k/statics_10k/cdn/images/h5_city_medal/btn-2-bg.jpg');
      background-repeat: no-repeat;
      background-position: bottom left;
      background-size: auto 100%;
      color: #fff;
      font-size: 1rem;
      display: none;
      &.btn-join{
        display: block;
      }
      &.btn-people{
        display: none;
      }
    }
    &.join-change{
      .btn-rule{
        @include flex(4);
      }
      .btn-2{
        @include flex(3);
        &.btn-join{
          display: none;
        }
        &.btn-people{
          display: block;
          font-size: 0.75rem;
          img{
            height: 0.85rem;
          }
          .people-num{
            margin: 0 -3px;
          }
        }
      }
    }
  }
  .medal-box{
    position: absolute;
    top: -250px;
    width: 700px;
    height: 700px;
    left: 50%;
    margin-left: -350px;
    .light-box{
      width: 700px;
      height: 682px;
      background: url('https://10kfiles.runninglemon.com/10k/statics_10k/cdn/images/h5_city_medal/light-bg.png') center no-repeat;
      background-size: contain;
      border-radius: 50%;
    }
    .medal{
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
    }
    .medal-current{
      width: 118px;
      height: 118px;
      margin: -59px 0 0 -59px;
    }
  }
  .page-1{
    display: block;
    .title, .desc{
      margin: 0 0 0 30px;
    }
    .title{
      width: 183.5px;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    .icon-1{
      position: absolute;
      right: 130px;
      top: 20px;
      width: 50px;
    }
    .icon-2{
      position: absolute;
      width: 56px;
      left: -20px;
      //bottom: 3%;
      margin-top: 40px;
    }
    .logo{
      position: absolute;
      width: 80px;
      right: 10px;
      //bottom: 60px;
      //bottom: 10%;
      margin-top: 20px;
    }
    .title, .icon-1, .icon-2, .logo, .desc{
      opacity: 1;
      @include transition(all $_page1_duration);
    }
    .desc{
      &.desc-1{
        font-size: 17px;
        line-height: 18px;
        margin-bottom: 40px;
        img{
          height: 18px;
        }
      }
      &.desc-2{
        margin-bottom: 60px;
        img{
          width: 158px;
        }
      }
      &.desc-3{
        color: #4bc57c;
        span{
          display: inline-block;
          line-height: 1.6;
          border: 1px solid #4bc57c;
          padding: 0 7px;
          color: #4bc57c;
        }
        .time, .station{
          font-size: 14px;
        }
        .mid{
          font-size: 19px;
        }
        .time span{
          border-bottom: 0;
        }
        .station span{
          border-top: 0;
        }
      }
    }
    .medal-box{
      top: -95px;
      left: 50%;
      margin-left: -162px;
      .light-box{
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        @include transition(all $_page1_duration / 5 * 4);
      }
      .medal-current{
        margin: -59px 0 0 -80px;
        @include transition(all $_page1_duration / 2);
      }
      .medal-1{
        width: 70px;
        margin: -176px 0 0 -90px;
        @include animation(ballMoveOne 4s infinite linear);
      }
      .medal-2{
        width: 42px;
        margin: 15px 0 0 -165px;
        @include animateDelay(2s);
        @include animation(ballMoveTwo 5s infinite linear);
      }
      .medal-3{
        width: 55px;
        margin: 80px 0 0 -78px;
      }
      .medal-4{
        width: 49px;
        margin: 125px 0 0 -140px;
      }
    }
  }
  .page-2{
    display: none;
    height: calc(100% - 2.6rem);
    .medal-box{
      .light-box{
        background: url('https://10kfiles.runninglemon.com/10k/statics_10k/cdn/images/h5_city_medal/light-bg-2.png') center no-repeat;
        @include transition(all $_page2_duration / 5 * 4);
      }
      .medal-list{
        position: absolute;
        left: 50%;
        top: 50%;
        li{
          opacity: 0;
          @include transform(scale(1));
          @include transition(all $_page2_duration);
          &.current{
            opacity: 1;
          }
          .medal{
            width: 118px;
            height: 118px;
            margin: -59px 0 0 -59px;
          }
          .desc{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 370px;
            margin-left: -185px;
            text-align: center;
            margin-top: 70px;
            font-size: 13px;
            line-height: 1.6;
            .desc-1{
              font-size: 16px;
              line-height: 2;
            }
          }
        }

      }
    }
    .slider-box{
      position: absolute;
      top: 54%;
      width: 100%;
      text-align: center;
      font-size: 13px;
      opacity: 1;
      @include transition(opacity $_page2_duration / 4);
      p{
        opacity: 0.3;
      }
      .arrow{
        width: 45px;
        height: 31px;
        position: absolute;
        left: 50%;
        top: 10px;
        overflow: hidden;
        opacity: 1;
        @include transition(all $_page2_duration);
        .arrow-icon{
          position: absolute;
          display: block;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          @include animation(arrowAni 1.6s infinite);
          &.icon-0{
            width: 19.5px;
            height: 23.5px;
            background-image: url(https://10kfiles.runninglemon.com/10k/statics_10k/cdn/images/h5_city_medal/slider-icon-0.png);
            margin: 7.5px 0 0;
            @include animateDelay(0s);
          }
          &.icon-1{
            width: 13.5px;
            height: 16.5px;
            background-image: url(https://10kfiles.runninglemon.com/10k/statics_10k/cdn/images/h5_city_medal/slider-icon-1.png);
            margin: 5.5px 0 0 18.5px;
            @include animateDelay(0.3s);
          }
          &.icon-2{
            width: 20.5px;
            height: 12.5px;
            background-image: url(https://10kfiles.runninglemon.com/10k/statics_10k/cdn/images/h5_city_medal/slider-icon-2.png);
            margin: 0 0 0 28.5px;
            @include animateDelay(0.6s);
          }
        }
        &.left{
          margin-left: -150px;
        }
        &.right{
          margin-left: 106px;
          transform: rotateY(180deg);
        }
      }
    }
    .earth-box{
      position: absolute;
      bottom: -180px;
      width: 100%;
      height: 344px;
      @include transition(all $_page2_duration);
      .earth{
        width: 346px;
        height: 344px;
        background: url(https://10kfiles.runninglemon.com/10k/statics_10k/cdn/images/h5_city_medal/earth.png) center no-repeat;
        background-size: contain;
        margin: auto;
      }
      .city-list{
        li{
          opacity: 0;
          position: absolute;
          left: 50%;
          width: 200px;
          text-align: center;
          margin-left: -100px;
          img{
            height: 111px;
            position: absolute;
            @include transform(translateX(-50%));
            &.city{
            }
          }
          &.current{
            opacity: 1;
          }
          &:nth-child(odd){
            top: -61px;
          }
          &:nth-child(even){
            @include transform(rotate(-180deg));
            bottom: -61px;
          }
          &.city-default-1{
            //margin: 0 0 0 -89px;
            //bottom: -59px;
            //width: 210px;
            img.people{
              width: 210px;
              bottom: -123px;
              height: auto;
              margin-left: -17px;
            }
          }
        }
      }
    }
    /** 动效前半段 **/
    &.animated-first-half{
      .medal-box{
        .light-box{
          opacity: 0;
          @include transform(scale(0));
        }
        .medal-list{
          li{
            @include transform(scale(0.9));
          }
          li.current{
            opacity: 0;
          }
        }
      }
      .slider-box{
        opacity: 0;
      }
    }
    /** 动效后半段 **/
    &.animated-bottom-half{
      .medal-box{
        .light-box{
          opacity: 1;
          -webkit-transition-delay: $_page2_duration / 5 ;
          transition-delay: $_page2_duration / 5 ;
          @include transform(scale(1));
        }
        .medal-list{
          li{
            @include transform(scale(1));
          }
          li.current{
            opacity: 1;
          }
        }
      }
      .slider-box{
        opacity: 1;
        -webkit-transition-delay: $_page2_duration / 4;
        transition-delay: $_page2_duration / 4;
        //.arrow{
        //  opacity: 1;
        //}
      }
      .earth-box{
        -webkit-transition-duration: $_page2_duration * 2;
        transition-duration: $_page2_duration * 2;
      }
    }
  }

  //页面之间切换时的效果
  &.flipping{
    background-image: url(https://10kfiles.runninglemon.com/10k/statics_10k/cdn/images/h5_city_medal/bg.jpg);
    .page-1{
      .title, .icon-1, .icon-2,.logo, .desc{
        opacity: 0;
      }
      .medal-box{
        @include transform(translate3d(0, 0, 0));
        @include animation(medalBoxMove $_page1_duration * 2);
        .light-box{
          opacity: 0;
          @include transform(scale(0));
        }
        .medal-current{
          -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
          opacity: 0;
        }
      }
    }
    .page-2{
      display: block;
      .medal-box{
        opacity: 1;
        @include animation(opacityShow $_page1_duration * 2);
      }
      .slider-box{
        opacity: 1;
        @include animation(opacityShow $_page1_duration * 2);
      }
      .earth-box{
        &.rotate_0{
          @include animation(earthBoxAni $_page1_duration * 2.5);
        }
        &.rotate_1{
          @include animation(earthBoxAni1 $_page1_duration * 2.5);
        }
      }
    }
    .bottom-btn-box{
      @include animation(bottomBtnsAni $_page1_duration * 1.8);
    }
  }

  //已参加的效果
  &.has-join{
    background-image: url(https://10kfiles.runninglemon.com/10k/statics_10k/cdn/images/h5_city_medal/bg.jpg);
    .bottom-btn-box{
      bottom: 0;
      .btn-rule{
        @include flex(4);
      }
      .btn-2{
        @include flex(3);
        &.btn-join{
          display: none;
        }
        &.btn-people{
          display: block;
          font-size: 0.75rem;
          img{
            height: 0.85rem;
          }
          .people-num{
            margin: 0 -3px;
          }
        }
      }
    }
    .page-1{
      display: none;
    }
    .page-2{
      display: block;
    }
  }
}

.hidden{
  display: none !important;
}
.guide{
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  text-align: center;
  img{
    width: 100%;
    margin-top: 1rem;
  }
}
.loading{
  background-image: none;
  &.prepare{
    background-color: #0e164b;
    background-image: url(https://10kfiles.runninglemon.com/10k/statics_10k/cdn/images/h5_city_medal/bg-0.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    .progress-box{
      display: block;
    }
  }
  .earth{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 4rem;
    height: 4rem;
    @include transform(translate(-50%, -50%));
    .light{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 750px;
      height: 750px;
      margin: -375px 0 0 -375px;
      background: url(https://10kfiles.runninglemon.com/10k/statics_10k/cdn/images/h5_city_medal/loading-light.png) center no-repeat;
      background-size: contain;
      @include animation(loadingScale 1.5s infinite linear);
    }
    img{
      width: 4rem;
      height: 4rem;
      @include animation(loadingRotate 1.5s infinite linear);
    }
  }
  .progress-box{
    display: none;
    position: absolute;
    top: 60%;
    width: 100%;
    line-height: 1rem;
    text-align: center;
    color: #fff;
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
    span{
      display: inline-block;
      width: 2em;
    }
  }
}
.tip-box, .filter-box{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #000120;
  color: #fff;
  display: none;
  p{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 180px;
    margin-left: -90px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
  }
  &.tip-box{
    background-color: rgba(0,0,0,0.6);
  }
  .rule-box{
    position: absolute;
    left: 50%;
    width: 14rem;
    margin-left: -7rem;
    top: 45%;
    text-align: center;
    background: url(https://10kfiles.runninglemon.com/10k/statics_10k/cdn/images/h5_city_medal/rule-bg.jpg) top center no-repeat;
    background-size: 100% auto;
    color: #2c4ce0;
    padding: 1.5rem 0 1rem;
    background-color: #fff;
    border-radius: 5px;
    @include transform(scale(1.2) translateY(-50%));
    &.visible{
      @include transform(scale(1) translateY(-50%));
      @include animation(ruleBox 0.3s);
    }
    span{
      display: inline-block;
    }
    .title{
      font-size: 0.75rem;
      font-weight: 600;
      margin:0 0 1rem 0 ;
      span{
        padding: 0.3rem 0.5rem;
        border-top: 0.1rem solid #2c4ce0;
        border-bottom: 0.1rem solid #2c4ce0;
      }
    }
    .little-title{
      margin:0 0 0.5rem 0;
      font-size: 0.65rem;
      display: inline-block;
      height: 0.65rem;
      line-height: 1;
      position: absolute;
      left: 50%;
      width: 6rem;
      @include transform(translateX(-50%));
      span{
        height: 0.65rem;
      }
      .line{
        position: absolute;
      }
      .line-1{
        background-color: #9dfeff;
        height: 0.35rem;
        width: 6em;
        margin-top: 0.2rem;
        left: 50%;
        transform: translateX(-50%);
      }
      .line-2{
        width: 6rem;
        white-space: nowrap;
      }
    }
    .desc{
      font-size: 0.65rem;
      width: 80%;
      margin: 2.5rem auto 1rem;
    }
    .icon{
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      &.icon-0{
        top: -1rem;
        right: -1.5rem;
        width: 3.125rem;
        height: 3.125rem;
        background-image: url(https://10kfiles.runninglemon.com/10k/statics_10k/cdn/images/h5_city_medal/rule-icon-0.png);
      }
      &.icon-1{
        bottom: -1.8rem;
        left: 0.2rem;
        width: 2.575rem;
        height: 2.575rem;
        background-image: url(https://10kfiles.runninglemon.com/10k/statics_10k/cdn/images/h5_city_medal/rule-icon-1.png);
      }
      &.icon-2{
        bottom: 0.5rem;
        right: -0.6rem;
        width: 1.725rem;
        height: 1.725rem;
        background-image: url(https://10kfiles.runninglemon.com/10k/statics_10k/cdn/images/h5_city_medal/rule-icon-2.png);
      }
    }
  }
}

@-webkit-keyframes ruleBox {
  0% {
    -webkit-transform: scale(1.2)  translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1)  translateY(-50%);
    opacity: 1;
  }
}
@keyframes ruleBox {
  0% {
    transform: scale(1.2)  translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: scale(1)  translateY(-50%);
    opacity: 1;
  }
}
@-webkit-keyframes arrowAni {
  0% {
    opacity: 1;
  }
  50%{
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes arrowAni {
  0% {
    opacity: 1;
  }
  50%{
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes earthBoxAni {
  0%{
    opacity: 0;
    @include transform(rotate(120deg));
  }
  20% {
    opacity: 0;
    @include transform(rotate(120deg));
  }
  40% {
    @include transform(rotate(-15deg));
  }
  48%{
    opacity: 1;
    @include transform(rotate(10deg));
  }
  56%{
    @include transform(rotate(-5deg));
  }
  64%{
    @include transform(rotate(2.5deg));
  }
  72%{
    @include transform(rotate(-1deg));
  }
  80%{
    @include transform(rotate(0.5deg));
  }
  88%{
    @include transform(rotate(-0.25deg));
  }
  96%{
    @include transform(rotate(0.125deg));
  }
  100%{
    @include transform(rotate(0deg));
  }
}
@keyframes earthBoxAni {
  0%{
    opacity: 0;
    @include transform(rotate(120deg));
  }
  20% {
    opacity: 0;
    @include transform(rotate(120deg));
  }
  40% {
    @include transform(rotate(-15deg));
  }
  48%{
    opacity: 1;
    @include transform(rotate(10deg));
  }
  56%{
    @include transform(rotate(-5deg));
  }
  64%{
    @include transform(rotate(2.5deg));
  }
  72%{
    @include transform(rotate(-1deg));
  }
  80%{
    @include transform(rotate(0.5deg));
  }
  88%{
    @include transform(rotate(-0.25deg));
  }
  96%{
    @include transform(rotate(0.125deg));
  }
  100%{
    @include transform(rotate(0deg));
  }
}
@keyframes earthBoxAni1 {
  0%{
    opacity: 0;
    @include transform(rotate(-60deg));
  }
  20% {
    opacity: 0;
    @include transform(rotate(-60deg));
  }
  40% {
    @include transform(rotate(-195deg));
  }
  48%{
    opacity: 1;
    @include transform(rotate(-170deg));
  }
  56%{
    @include transform(rotate(-185deg));
  }
  64%{
    @include transform(rotate(-177.5deg));
  }
  72%{
    @include transform(rotate(-181deg));
  }
  80%{
    @include transform(rotate(-179.5deg));
  }
  88%{
    @include transform(rotate(-179.75deg));
  }
  96%{
    @include transform(rotate(-179.875deg));
  }
  100%{
    @include transform(rotate(-180deg));
  }
}
@-webkit-keyframes earthBoxAni1 {
  0%{
    opacity: 0;
    @include transform(rotate(-60deg));
  }
  20% {
    opacity: 0;
    @include transform(rotate(-60deg));
  }
  40% {
    @include transform(rotate(-195deg));
  }
  48%{
    opacity: 1;
    @include transform(rotate(-170deg));
  }
  56%{
    @include transform(rotate(-185deg));
  }
  64%{
    @include transform(rotate(-177.5deg));
  }
  72%{
    @include transform(rotate(-181deg));
  }
  80%{
    @include transform(rotate(-179.5deg));
  }
  88%{
    @include transform(rotate(-179.75deg));
  }
  96%{
    @include transform(rotate(-179.875deg));
  }
  100%{
    @include transform(rotate(-180deg));
  }
}
@-webkit-keyframes opacityShow {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityShow {
  0% {
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes medalBoxMove {
  0%{
    @include transform(translate3d(0,0,0));
  }
  50% {
    @include transform(translate3d(-167px,-184px,0));
    opacity: 1;
  }
  100% {
    @include transform(translate3d(-167px,-184px,0));
    opacity: 0;
  }
}
@keyframes medalBoxMove {
  0%{
    @include transform(translate3d(0,0,0));
  }
  50% {
    @include transform(translate3d(-167px,-184px,0));
  }
  100% {
    @include transform(translate3d(-167px,-184px,0));
  }
}
@-webkit-keyframes ballMoveOne {
  0% {
    @include transform(translate3D(0, 0, 0));
  }
  30%{
    @include transform(translate3D(-3px, -2px, 0));
  }
  60% {
    @include transform(translate3D(0, -4px, 0));
  }
  100%{
    @include transform(translate3D(0, 0, 0));
  }
}
@keyframes ballMoveOne {
  0% {
    @include transform(translate3D(0, 0, 0));
  }
  30%{
    @include transform(translate3D(-3px, -2px, 0));
  }
  60% {
    @include transform(translate3D(0, -4px, 0));
  }
  100%{
    @include transform(translate3D(0, 0, 0));
  }
}
@-webkit-keyframes ballMoveTwo {
  0% {
    @include transform(translate3D(0, 0, 0));
  }
  30%{
    @include transform(translate3D(2px, -2px, 0));
  }
  60% {
    @include transform(translate3D(0, 3px, 0));
  }
  100%{
    @include transform(translate3D(0, 0, 0));
  }
}
@keyframes ballMoveTwo {
  0% {
    @include transform(translate3D(0, 0, 0));
  }
  30%{
    @include transform(translate3D(2px, -2px, 0));
  }
  60% {
    @include transform(translate3D(0, 3px, 0));
  }
  100%{
    @include transform(translate3D(0, 0, 0));
  }
}
@-webkit-keyframes bottomBtnsAni {
  0%{
    bottom: 0;
  }
  40%{
    bottom: -2.8rem;
  }
  50%{
    bottom: -2.8rem;
  }
  90%{
    bottom: 0;
  }
}
@keyframes bottomBtnsAni {
  0%{
    bottom: 0;
  }
  40%{
    bottom: -2.8rem;
  }
  50%{
    bottom: -2.8rem;
  }
  90%{
    bottom: 0;
  }
}
@-webkit-keyframes loadingRotate {
  0%{
    @include transform(rotate(0deg));
  }
  100%{
    @include transform(rotate(360deg));
  }
}
@keyframes loadingRotate {
  0%{
    @include transform(rotate(0deg));
  }
  100%{
    @include transform(rotate(360deg));
  }
}
@-webkit-keyframes loadingScale {
  0%{
    @include transform(scale(1));
  }
  50%{
    @include transform(scale(0.45));
  }
  100%{
    @include transform(scale(1));
  }
}
@keyframes loadingScale {
  0%{
    @include transform(scale(1));
  }
  50%{
    @include transform(scale(0.45));
  }
  100%{
    @include transform(scale(1));
  }
}


@media screen and (orientation: portrait) {
  /*竖屏 css*/
  .filter-box{
    display: none;
  }
  .container{
    display: block;
  }
}
@media screen and (orientation: landscape) {
  /*横屏 css*/
  .filter-box{
    display: block;
  }
  .container{
    display: none;
  }
}